# Java build artifacts
target/
build/

# Maven build artifacts
mvn*

# IntelliJ IDEA files
*.iml
.idea/
.idea_modules/
out/

# Eclipse files
*.class
.project
.settings/
bin/
build/

# Vue build artifacts
node_modules/
dist/
.build/
cache/
public/hashes.json
.yarn/
.yarn-integrity
yarn-error.log

# Logs
*.log
log/
logs/

# Other
.DS_Store
Thumbs.db
